body {
  color: var(--main-color);
  font-family: 'Montserrat', sans-serif;
}

.section {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
