<section class="advantages">
    <div class="container">
        <h1 class="advatages-title visually-hidden">Advantages</h1>
        <ul class="advatages-list list">
            <li class="advatages-item">
                <svg class="advatages-icon" widht="50px" height="50px"><use href="/src/images/icons.svg#icon-cow">
                </use>
                </svg>
                <h2 class="advatages-pre-title">721</h2>
                <p class="advatages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="advatages-item">
            <svg class="advatages-icon" widht="50px" height="50px"><use href="/src/images/icons.svg#icon-weight">
                </use>
                </svg>
                <h2 class="advatages-pre-title">16kg</h2>
                <p class="advatages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="advatages-item">
                <svg class="advatages-icon" widht="50px" height="50px"><use href="/src/images/icons.svg#icon-ice-crema">
                </use>
                </svg>
                <h2 class="advatages-pre-title">84</h2>
                <p class="advatages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>