<section class="section section-contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts">
      <li class="contacts-list">
        <h3 class="contacts-list-title">CAFE</h3>

        <h3 class="contacts-list-city">Chicago</h3>
        <address class="address">
          <a
            href="https://goo.gl/maps/MczgKXYdcuhAaUgDA"
            class="contacts-list-address"
            target="_blank"
            rel="noreferrer noopener"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>

        <h3 class="contacts-list-day day-padding">Monday - Friday</h3>
        <p class="contacts-list-time">06:00 AM - 10:00 PM</p>

        <h3 class="contacts-list-day">Saturday - Sunday</h3>
        <p class="contacts-list-time time-padding">08:00 AM - 16:00 PM</p>
        <div class="contacts-list-container">
          <a href="tel:+61(0)383766284" class="contacts-list-link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts-list-link"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts-list">
        <h2 class="contacts-list-title foodtruck">FOODTRUCK</h2>

        <h3 class="contacts-list-city">Los-Andgeles</h3>
        <address class="address">
          <a
            href="https://goo.gl/maps/TdBTbu9GeWbY1n2p7"
            class="contacts-list-address"
            target="_blank"
            rel="noreferrer noopener"
          >
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>

        <h3 class="contacts-list-day day-padding">Monday - Friday</h3>
        <p class="contacts-list-time">06:00 AM - 10:00 PM</p>

        <h3 class="contacts-list-day">Saturday - Sunday</h3>
        <p class="contacts-list-time time-padding">08:00 AM - 16:00 PM</p>

        <div class="contacts-list-container">
          <a href="tel:+61(0)383766284" class="contacts-list-link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts-list-link"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts-list">
        <h2 class="contacts-list-title">CAFE</h2>

        <h3 class="contacts-list-city">New York</h3>
        <address class="address">
          <a
            href="https://goo.gl/maps/uc37YmQyM3NpK1Zm6"
            class="contacts-list-address"
            target="_blank"
            rel="noreferrer noopener"
          >
            726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>

        <h3 class="contacts-list-day day-padding">Monday - Friday</h3>
        <p class="contacts-list-time">06:00 AM - 10:00 PM</p>

        <h3 class="contacts-list-day">Saturday - Sunday</h3>
        <p class="contacts-list-time time-padding">08:00 AM - 16:00 PM</p>

        <div class="contacts-list-container">
          <a href="tel:+61(0)383766284" class="contacts-list-link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts-list-link"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>

    <ul class="contacts-buttons">
      <li class="contacts-btn-item">
        <button class="our-location-btn" type="button">
          Our Locations
          <svg class="contact-icon" width="7px" height="10px">
            <use href="./images/icons.svg#icon-arrow-more"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="franchise-button" type="button">
          Franchise
          <svg class="contact-icon" width="7px" height="10px">
            <use href="./images/icons.svg#icon-arrow-more"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
