<section class="customer-reviews">
    <div class="customer-reviews-container container">
        <h2 class="customer-reviews-title hidden">Comments of our clients</h2>
        <ul class="customer-reviews-list">
            <li class="customer-reviews-item">
                <picture>
                    <source srcset="./images/reviewers/emily-1x.webp 1x, ./images/reviewers/emily-2x.webp 2x"
                        type="image/webp">
                    <source srcset="./images/reviewers/emily-1x.jpg 1x, ./images/reviewers/emily-2x.jpg 2x"
                        type="image/webp">
                    <img class="customer-reviews-photo" src="./images/reviewers/emily-1x.jpg" alt="reviewer-photo"
                        width="85" height="85">
                </picture>
                <p class="customer-reviews-text">I love visiting your cafe. You prepare the most delicious ice cream in
                    Los Angeles! In addition, you have beautiful
                    serving, cozy atmosphere and polite staff.
                </p>
                <h3 class="customer-reviews-names">Emily, Los Angeles</h3>
            </li>
            <li class="customer-reviews-item">
                <picture>
                    <source srcset="./images/reviewers/sam-1x.webp 1x, ./images/reviewers/sam-2x.webp 2x"
                        type="image/webp">
                    <source srcset="./images/reviewers/sam-1x.jpg 1x, ./images/reviewers/sam-2x.jpg 2x"
                        type="image/webp">
                    <img class="customer-reviews-photo" src="./images/reviewers/sam-1x.jpg" alt="reviewer-photo"
                        width="85" height="85">
                </picture>
                <p class="customer-reviews-text">I love eating popsicles on a hot day. Yours is always delicious. I
                    recommend your cafe to everyone I know.
                </p>
                <h3 class="customer-reviews-names">Sam, Los Angeles</h3>
            </li>
            <li class="customer-reviews-item">
                <picture>
                    <source srcset="./images/reviewers/diana-1x.webp 1x, ./images/reviewers/diana-2x.webp 2x"
                        type="image/webp">
                    <source srcset="./images/reviewers/diana-1x.jpg 1x, ./images/reviewers/diana-2x.jpg 2x"
                        type="image/webp">
                    <img class="customer-reviews-photo" src="./images/reviewers/diana-1x.jpg" alt="reviewer-photo"
                        width="85" height="85">
                </picture>
                <p class="customer-reviews-text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And
                    I really like the excellent service - always
                    served politely and quickly!</p>
                <h3 class="customer-reviews-names">Diana, Chicago</h3>
            </li>
            <li class="customer-reviews-item">
                <picture>
                    <source srcset="./images/reviewers/bryan-1x.webp 1x, ./images/reviewers/bryan-2x.webp 2x"
                        type="image/webp">
                    <source srcset="./images/reviewers/bryan-1x.jpg 1x, ./images/reviewers/bryan-2x.jpg 2x"
                        type="image/webp">
                    <img class="customer-reviews-photo" src="./images/reviewers/bryan-1x.jpg" alt="reviewer-photo"
                        width="85" height="85">
                </picture>
                <p class="customer-reviews-text">Every day we come to you with friends after classes in college. We love
                    your ice cream and casual atmosphere!</p>
                <h3 class="customer-reviews-names">Bryan, New-York</h3>
            </li>
        </ul>

        <div class="customer-reviews-buttons">
            <button type="button" class="reviews-btn reviews-slide-pre btn"></button>
            <button type="button" class="reviews-btn reviews-btn-center btn"></button>
            <button type="button" class="reviews-btn reviews-btn-next btn"></button>
        </div>
    </div>