<div class="overlay js-overlay-modal">
  <div class="modal js-overlay-modal" data-modal="3">
    <button type="button" class="modal-close js-modal-close btn">
      <svg class="close-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <h2 class="franchise-titel">
      Thank you for your interest in owning an Ice Cream shop
    </h2>
    <p class="franchise-text">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <form class="franchise-form">
      <div class="franchise-form-field">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder=" "
          pattern="[A-Za-z0-9]{3,}"
          required
        />
      </div>
      <div class="franchise-form-field">
        <label for="phone">Phone</label>
        <input
          type="tel"
          name="phone"
          id="phone"
          placeholder=" "
          pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
          minlength="13"
          maxlength="13"
          required
        />
      </div>

      <div class="franchise-form-field">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder=" "
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          required
        />
      </div>

      <div class="franchise-form-field">
        <label for="comment">Comment</label>
        <textarea
          name="comment"
          rows="4"
          placeholder=" "
          id="comment"
        ></textarea>
      </div>

      <button type="submit" class="franchise-btn btn">Submit</button>
    </form>
  </div>
</div>
