<header class="header">
  <div class="container">
    <a href="" class="header-logo link"
      ><svg class="header-svg-logo" width="60px" height="65px">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header-navigation">
      <ul class="header-list list">
        <li class="header-list-item">
          <a href="" class="header-link link">Home</a>
        </li>
        <li class="header-list-item">
          <a href="#about" class="header-link link">How it's made?</a>
        </li>
        <li class="header-list-item">
          <a href="#products" class="header-link link">Our products</a>
        </li>
        <li class="header-list-item">
          <a href="#contacts" class="header-link link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header-burger" data-menu-open>
      <svg class="header-svg-burger" width="28px" height="28px">
        <use href="./images/icons.svg#icon-burger-new"></use>
      </svg>
    </button>
    <button type="button" class="header-btn js-open-modal" data-modal="1">
      Buy now
      <svg class="header-svg-buy" width="10px" height="9px">
        <use href="./images/icons.svg#icon-arrow-more"></use>
      </svg>
    </button>
    <div class="menu is-hidden" data-menu>
      <div class="menu-container">
        <button type="button" class="menu-btn-close" data-menu-close>
          <svg class="menu-svg-close" width="32px" height="32px">
            <use href="./images/icons.svg#icon-menu-close"></use>
          </svg>
        </button>
        <a href="" class="menu-logo link"
          ><svg class="menu-svg-logo" width="60px" height="65px">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <nav class="menu-navigation">
          <ul class="menu-list list">
            <li class="menu-list-item">
              <a href="" class="menu-link link">Home</a>
            </li>
            <li class="menu-list-item">
              <a href="#about" class="menu-link link">How it’s made?</a>
            </li>
            <li class="menu-list-item">
              <a href="#products" class="menu-link link">Our products</a>
            </li>
            <li class="menu-list-item">
              <a href="#contacts" class="menu-link link" >Contact</a>
            </li>
          </ul>
        </nav>

        <button type="button" class="menu-btn-buy js-open-modal" data-modal="1">
          Buy now
          <svg class="menu-svg-buy" width="8px" height="8px">
            <use href="./images/icons.svg#icon-arrow-more"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

   <h1 class="hero__title">
        ice cream made with <span class="hero-title-span">passion</span>
      </h1>
      <div class="hero-statistics">
        <p class="statistic__number">
          16 <span class="statistics__name">cafes</span>
        </p>
        <p class="statistics__number">
          23 <span class="statistics__name">food trucks</span>
        </p>
      </div>
    </div>

       <ul class="hero-button-list list">
      <li class="hero-button-list__item">
        <a href="#products" class="link">
          <button class="hero-btn-products" type="button">Products</button>
        </a>
      </li>
    
      <li class="hero-button-list__item">
        <a href="#about" class="link">
          <button class="hero-button-list__link2" type="button">
            How it’s made?
          </button>
        </a>
      </li>
    </ul>
</header>
