<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-title-wrapper">
      <!-- <h1 class="hero__title">
        ice cream made with <span class="hero-title-span">passion</span>
      </h1>
      <div class="hero-statistics">
        <p class="statistic__number">
          16 <span class="statistics__name">cafes</span>
        </p>
        <p class="statistics__number">
          23 <span class="statistics__name">food trucks</span>
        </p>
      </div>
    </div> -->
    <!-- <ul class="hero-points-list list">
        <li class="hero-points-item">
          <a class="hero-points-link link" href=""
            >16 <span class="hero-points-text">cafes</span></a
          >
        </li>
        <li class="hero-points-item">
          <a class="hero-points-link link" href=""
            >23 <span class="hero-points-text">food trucks</span></a
          >
        </li>
      </ul> -->
        <!-- <li class="hero-button-list__item">
        <a href="#products" class="hero-button-list__link1 link">Products</a>
      </li> -->

    <!-- <ul class="hero-button-list list">
      <li class="hero-button-list__item">
        <a href="#products" class="link">
          <button class="hero-btn-products" type="button">Products</button>
        </a>
      </li>
    
      <li class="hero-button-list__item">
        <a href="#about" class="link">
          <button class="hero-button-list__link2" type="button">
            How it’s made?
          </button>
        </a>
      </li>
    </ul> -->
    <p class="hero-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <svg class="hero-arrow-svg">
      <use
        href="./images/icons.svg#icon-Frame-57"
        width="40px"
        height="10px"
      ></use>
    </svg>
    <picture class="frame-picture">
      <source
        srcset="
          ./images/hero/Frame-desctop.png    1x,
          ./images/hero/Frame-desctop@2x.png 2x
        "
        media="(min-width: 1200px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/hero/Frame-tablet.png    1x,
          ./images/hero/Frame-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />

      <source
        srcset="
          ./images/hero/Frame-mobile.png    1x,
          ./images/hero/Frame-mobile@2x.png 2x
        "
        media="(max-width: 767px)"
        type="image/png"
      />
      <img class="Frame-img" src="./images/hero/Frame-mobile.png" alt="Frame" />
    </picture>
    <picture class="hero-ice-cream">
      <source
        srcset="
          ./images/hero/ice-cream-desctop.png    1x,
          ./images/hero/ice-cream-desctop@2x.png 2x
        "
        media="(min-width: 1200px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/hero/ice-cream-tablet.png    1x,
          ./images/hero/ice-cream-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />

      <source
        srcset="
          ./images/hero/ice-cream-mobile.png   1x,
          ./images/hero/ice-cream-mobile2x.png 2x
        "
        media="(max-width: 767px)"
        type="image/png"
      />
      <img
        class="ice-cream-img"
        src="./images/hero/ice_true.jpg"
        alt="ice-cream"
      />
    </picture>

    <picture class="hero-ice-cream-plate">
      <source
        srcset="
          ./images/hero/ice-cream-plate-desctop.png    1x,
          ./images/hero/ice-cream-plate-desctop@2x.png 2x
        "
        media="(min-width: 1200px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/hero/ice-cream-plate-tablet.png    1x,
          ./images/hero/ice-cream-plate-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />
      <img
        src="./images/hero/ice-cream-plate-tablet.png"
        alt="ice-cream-plate"
        class="ice-cream-plate-img"
      />
    </picture>
    <!--     <picture>
      <source
        media="(min-width:320px)"
        srcset="
          ./images/hero/Мороженое.jpg    1x,
          ./images/hero/Мороженое@2x.jpg 2x
        "
        <img
        width="100px"
        height="100px"
        class="team__image"
        src="./images/hero/Мороженое.jpg"
        alt="Сотрудник Игорь Демьяненко"
      />
    </picture> -->
  </div>
</section>
