<section class="hero-section">
  <div class="container hero-container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <ul class="hero-points-list list">
      <li class="hero-points-item">
        <a class="hero-points-link link" href=""
          >16 <span hero-points-text>cafes</span></a
        >
      </li>
      <li class="hero-points-item">
        <a class="hero-points-link link" href=""
          >23 <span hero-points-text>food trucks</span></a
        >
      </li>
    </ul>
    <ul class="hero-button-list list">
      <li class="hero-button-list__item">
        <a href="" class="hero-button-list__link link">Products</a>
      </li>
      <li class="hero-button-list__item">
        <a href="" class="hero-button-list__link link">How it’s made?</a>
      </li>
    </ul>
    <p class="hero-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
  </div>
</section>
