<section id="products" class="section product">
  <div class="container product-container">
    <p class="natural">100% natural</p>
    <h2 class="sup-title">products</h2>
    <ul class="product-list">
      <li class="product-card ice-cream">
        <div class="circle ice-cream"></div>
        <!-- <div class="product-image"> -->
        <!-- <picture class="">
            <source
              srcset="
                ./images/products-new/ice/ice-desk@1x.png 1x,
                ./images/products-new/ice/ice-desk@2x.png 2x
              "
              media="(min-width:1200px)" />
            <source
              srcset="
                ./images/products-new/ice/ice-tab@1x.png 1x,
                ./images/products-new/ice/ice-tab@2x.png 2x
              "
              media="(min-width:768px)" />
            <source
              srcset="
                ./images/products-new/ice/ice-mob@1x.png 1x,
                ./images/products-new/ice/ice-mob@2x.png 2x
              "
              media="(max-width:767px)" />
            <img
              src="./images/products-new/ice/ice-desk@1x.png"
              alt="ice-cream"
              width="300"
          /></picture> -->
        <!-- </div> -->
        <h3 class="card__name card__ice">Ice Cream</h3>
        <p class="card__desc">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="card__btn js-open-modal" type="button" data-modal="2">
          <svg class="btn__icon" width="40" height="25">
            <use href="./images/icons.svg#icon-modal-arrow"></use>
          </svg>
        </button>
      </li>

      <li class="product-card coffee">
        <div class="circle coffee"></div>
        <!-- <div class="product-image"> -->
        <!-- <picture class="">
            <source
              srcset="
                ./images/products-new/coffee/coffee-desk@1x.png 1x,
                ./images/products-new/coffee/coffee-desk@2x.png 2x
              "
              media="(min-width:1200px)" />
            <source
              srcset="
                ./images/products-new/coffee/coffee-tab@1x.png 1x,
                ./images/products-new/coffee/coffee-tab@2x.png 2x
              "
              media="(min-width:768px)" />
            <source
              srcset="
                ./images/products-new/coffee/coffee-mob@1x.png 1x,
                ./images/products-new/coffee/coffee-mob@2x.png 2x
              "
              media="(max-width:767px)" />
            <img
              src="./images/products-new/coffee/coffee-desk@1x.png"
              alt="ice-coffee"
              width="300"
          /></picture> -->
        <!-- </div> -->

        <h3 class="card__name card__coffee">Ice Coffee</h3>
        <p class="card__desc">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="card__btn js-open-modal" type="button" data-modal="2">
          <svg class="btn__icon" width="40" height="25">
            <use href="./images/icons.svg#icon-modal-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="product-card milkshakes">
        <div class="circle milkshakes"></div>
        <!-- <div class="product-image"> -->
        <!-- <picture class="">
            <source
              srcset="
                ./images/products-new/milk/milk-desk@1x.png 1x,
                ./images/products-new/milk/milk-desk@2x.png 2x
              "
              media="(min-width:1200px)" />
            <source
              srcset="
                ./images/products-new/milk/milk-tab@1x.png 1x,
                ./images/products-new/milk/milk-tab@2x.png 2x
              "
              media="(min-width:768px)" />
            <source
              srcset="
                ./images/products-new/milk/milk-mob@1x.png 1x,
                ./images/products-new/milk/milk-mob@2x.png 2x
              "
              media="(max-width:767px)" />
            <img
              src="./images/products-new/milk/milk-desk@1x.png"
              alt="milkshake"
              width="300"
          /></picture> -->
        <!-- </div> -->

        <h3 class="card__name card__milk">milkshakes</h3>
        <p class="card__desc">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="card__btn js-open-modal" type="button" data-modal="2">
          <svg class="btn__icon" width="40" height="25">
            <use href="./images/icons.svg#icon-modal-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
