<section class="section products">
  <div class="container">
    <p class="natural">100% natural</p>
    <h2 class="sup-title">products</h2>
    <div class="circle"></div>
    <div class="products-image">
      <img src="" alt="" class="image__circle" />
    </div>
    <ul class="products-list">
      <li class="products-card">
        <h3 class="card__name">Ice Cream</h3>
        <p class="card__desc">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="card__btn" type="button">
          <svg class="btn__icon" width="40" height="20">
            <use href="./images/icons.svg#icon-modal-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-card coffee">
        <h3 class="card__name">Ice Coffee</h3>
        <p class="card__desc">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="card__btn" type="button">
          <svg class="btn__icon" width="40" height="20">
            <use href="./images/icons.svg#icon-modal-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-card milkshakes">
        <h3 class="card__name">milkshakes</h3>
        <p class="card__desc">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="card__btn" type="button">
          <svg class="btn__icon" width="40" height="20">
            <use href="./images/icons.svg#icon-modal-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
