<div class="modal" data-modal="5">
  <button type="button" class="modal-close btn js-modal-close">
    <svg class="close-icon" width="20" height="20">
      <use href="./images/icons.svg#icon-modal-close"></use>
    </svg>
  </button>
  <h2 class="read-titel">How it’s made?</h2>
  <iframe
    class="video"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/x5K8MqjYVYM"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <p class="read-text">
    Professionals of the highest level work at our production. 100% natural
    ingredients provide our ice cream with an unsurpassed taste. Quality control
    at all stages of the process. Millions of satisfied customers. Try it!!! And
    you won't regret it!
  </p>
</div>
