.buy-now-titel {
  margin-bottom: 20px;
  font-family: 'Seymour One', sans-serif;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;

  color: #131313;
  @include tablet {
    max-width: 322px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 1.4;
  }
}
.buy-now-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 124px;
  @include tablet {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 110px;
  }
}
.buy-now-item:not(:last-child) {
  margin-bottom: 80px;
  @include tablet {
    margin-bottom: 0;
  }
}
.buy-now-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.buy-now-circus {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.buy-now-coffee {
  z-index: 1;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}
.buy-now-milkshake {
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}
.buy-now-img {
  z-index: 2;
  position: absolute;
  bottom: 8px;
}
.buy-now-text {
  display: block;
  position: absolute;
  top: 65px;
  width: 132px;
  height: 136px;
  // margin-top: 20px;
  padding-top: 100px;
  padding-bottom: 20px;

  border-left: 2px solid #96af8c;
  border-right: 2px solid #96af8c;
  border-bottom: 2px solid #96af8c;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;

  color: #131313;
}
.ice-coffee {
  background: #efd478;
  border-left: 2px solid #efd478;
  border-right: 2px solid #efd478;
  border-bottom: 2px solid #efd478;
}
.milkshake {
  border-left: 2px solid #d6936d;
  border-right: 2px solid #d6936d;
  border-bottom: 2px solid #d6936d;
}
.buy-now-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  @include tablet {
    gap: 16px;
  }
  .buy-now-form-field {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
  }
  & label {
    position: absolute;
    top: 8px;
    left: 12px;
    font-size: 12px;
    line-height: 1.4;
    color: #131313;
    @include tablet {
      top: 11px;
      left: 16px;
      font-size: 14px;
    }
  }

  & input {
    width: 100%;
    height: 32px;
    padding: 8px 12px 7px 62px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include tablet {
      width: 368px;
      height: 42px;
      padding: 11px 12px 11px 72px;
    }
  }
  & input::placeholder {
    font-family: inherit;
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 12px;

    color: #131313;
  }
  input:focus {
    outline-color: var(--accent-color);
  }
}
textarea {
  resize: none;
  width: 100%;
  height: 64px;
  margin-bottom: 24px;

  padding: 8px 12px 7px 80px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  @include tablet {
    width: 368px;
    height: 84px;
    padding: 11px 12px 11px 90px;
  }
  &::placeholder {
    font-family: inherit;
    font-size: 12px;
    line-height: 1.4;
  }
}
.buy-now-btn {
  display: block;

  text-align: center;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  max-width: 114px;
  height: 42px;
  padding: 12px 34px;
  margin: 0 auto;
  background: #f8d24e;
  border: none;
  border-radius: 10px;
  @include tablet {
    max-width: 121px;
    font-size: 14px;
    line-height: 1.21;
  }
}
