.franchise-titel {
  margin-bottom: 20px;
  font-family: 'Seymour One', sans-serif;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;

  color: #131313;
  @include tablet {
    max-width: 322px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 1.4;
  }
}
.franchise-text {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.4;
  @include tablet {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    font-size: 16px;
  }
  color: #131313;
}
.franchise-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  @include tablet {
    gap: 16px;
  }
  .franchise-form-field {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
  }
  & label {
    position: absolute;
    top: 8px;
    left: 12px;
    font-size: 12px;
    line-height: 1.4;
    color: #131313;
    @include tablet {
      top: 11px;
      left: 16px;
      font-size: 14px;
    }
  }

  & input {
    width: 100%;
    height: 32px;
    padding: 8px 12px 7px 42px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include tablet {
      width: 368px;
      height: 42px;
      padding: 11px 12px 11px 52px;
    }
  }
  & input::placeholder {
    font-family: inherit;
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 12px;

    color: #131313;
  }
  input:focus {
    outline-color: var(--accent-color);
  }
}
textarea {
  resize: none;
  width: 100%;
  height: 64px;
  margin-bottom: 24px;

  padding: 8px 12px 7px 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  @include tablet {
    width: 368px;
    height: 84px;
    padding: 11px 12px 11px 52px;
  }
  &::placeholder {
    font-family: inherit;
    font-size: 12px;
    line-height: 1.4;
  }
}
.franchise-btn {
  display: block;

  text-align: center;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  max-width: 114px;
  height: 42px;
  padding: 12px 34px;
  margin: 0 auto;
  background: #f8d24e;
  border: none;
  border-radius: 10px;
}
