.backdrop {
  // position: fixed;
  // top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  // position: fixed;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: 280px;
  min-height: auto;
  padding: 28px;

  background-color: var(--modal-bg-color);
  border: 2px solid #f8d24e;
  border-radius: 10px;
  // transform: translate(-50%, -50%) scale(1);
  // transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
  //   min-height 500ms cubic-bezier(0.4, 0, 0.2, 1);
  @include desktop {
    width: 528px;
    min-height: 581px;
  }
}
// .backdrop.is-hidden .modal {
//   transform: translate(-50%, -50%) scale(0);
//   min-height: 0;
// }
.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  // position: absolute;
  // top: 8px;
  // right: 8px;
  width: 16px;
  height: 16px;
  border: none;

  color: #000000;
  background: var(--modal-bg-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var (var(--accent-color));
  }
}
.close-icon {
  fill: currentColor;
}

// .is-hidden {
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
// }
