.location-titel {
  margin-bottom: 20px;
  font-family: 'Seymour One', sans-serif;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;

  color: #131313;
  @include tablet {
    max-width: 322px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 1.4;
  }
}

.location-btn {
  display: block;

  text-align: center;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  max-width: 134px;
  height: 42px;
  padding: 12px 34px;
  margin: 0 auto;
  margin-top: 24px;
  background: #f8d24e;
  border: none;
  border-radius: 10px;
  @include tablet {
    max-width: 145px;
    font-size: 14px;
    line-height: 1.21;
    margin-top: 32px;
  }
}
