.customer-reviews-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.customer-reviews-container {
  display: flex;
  flex-direction: column;
  padding-top: 186px;
  padding-bottom: 774px;

  background-image: url(../images/reviewers/ice-cream-bg-1x.jpg);
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/reviewers/ice-cream-bg-2x.jpg);
  }
  @media screen and (min-width: 768px) {
    padding-top: 223px;
    padding-bottom: 383px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 456px;
    padding-bottom: 207px;
  }
  background-repeat: no-repeat;
  background-size: cover;
}
.customer-reviews-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
}
.customer-reviews-photo {
  width: auto;
  margin: 0 auto;

  margin-bottom: 32px;
}
.customer-reviews-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;

  text-align: center;
  letter-spacing: 0.04em;

  color: #fcfcfc;
  background-color: #84a178;
  border-radius: 10px;

  padding: 34px 39px;
  min-width: 280px;
  margin: 0 auto;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: 705px;
    padding: 29px 80px;
    margin-bottom: 32px;
    border-radius: 24px;
  }
  @media screen and (min-width: 1200px) {
    width: 968px;
    padding: 39px 74px;
  }
}
.customer-reviews-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;

  text-align: center;

  color: #131313;
}

.reviews-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  border: none;
  &:hover {
    background-color: #84a178;
  }
}
.reviews-btn-center {
  background-color: #84a178;
}
.customer-reviews-buttons {
  display: flex;
  gap: 18px;
  margin: 0 auto;
}
