.customer-reviews-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.customer-reviews-container {
  display: flex;
  flex-direction: column;
  margin-top: -859px;
  padding-bottom: 394px;

  @media screen and (min-width: 768px) {
    margin-top: -736px;
    padding-bottom: 383px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: -568px;
    padding-bottom: 207px;
  }
}
.customer-reviews-list {
  // display: flex;
  // gap: 30px;
  // align-items: center;
  margin-bottom: 14px;
}
.customer-reviews-item {
  min-width: 280px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    width: 705px;
  }
  @media screen and (min-width: 1200px) {
    width: 968px;
  }
}
.customer-reviews-photo {
  // display: block;
  border-radius: 50%;
  width: auto;
  margin: 0 auto;

  margin-bottom: 32px;
}
.customer-reviews-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;

  text-align: center;
  letter-spacing: 0.04em;

  color: #fcfcfc;
  background-color: #84a178;
  border-radius: 10px;

  padding: 34px 39px;
  margin: 0 auto;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    padding: 29px 80px;

    border-radius: 24px;
  }
  @media screen and (min-width: 1200px) {
    padding: 39px 74px;
  }
}
.customer-reviews-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;

  text-align: center;

  color: #131313;
}

.reviews-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  border: none;
  &:hover {
    background-color: #84a178;
  }
}
.reviews-btn-center {
  background-color: #84a178;
}
.customer-reviews-buttons {
  display: flex;
  gap: 18px;
  margin: 0 auto;
}
